.button-wrapper {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 2.5rem;
    background-color: whitesmoke;
    color: black;
    flex: 1;
    outline: 2px solid #888;
}

.operator {
    background-color: darkred;
    color: whitesmoke;
    outline: 2px solid #888;
    height: 100px;
    width: 100px;
    font-size: 3rem;
    font-weight: lighter;
}

.clear-btn {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 2rem;
    background-color: whitesmoke;
    color: black;
}